ion-col {
  background-color: #660616;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

/* TabelaDeGastos.css */

/* Estilo para o modal */
.custom-modal {
  width: 300rem; /* Largura personalizada */
  height: 200rem; /* Altura personalizada */
  border: 1rem solid #ccc; /* Borda personalizada */
  background-color: #fff; /* Cor de fundo personalizada */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

/* Em seu arquivo CSS */
.modal-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo adicional para o conteúdo do modal */
.modal-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* estilos.css */

/* Estilizando o IonInput com uma classe */
.custom-input {
  background-color: #660616; /* Cor de fundo personalizada */
  color: #fff; /* Cor do texto personalizada */
  border: 1px solid #ccc; /* Borda personalizada */
  /* Outros estilos personalizados, como tamanho de fonte, margens, etc. */
}


.custom-select {
  --background: #660616; /* Altere para a cor desejada */
<<<<<<< HEAD
  color: rgb(255, 255, 255); /* Cor do texto personalizada (branco) */
=======
  color: #ffffff; /* Branco puro */
>>>>>>> cd2affba09fdfcfb01ba4f3d8ee336e2f3aa44d6
}